apiVersion: v1
kind: Service
metadata:
  name: backend-dashboard
  namespace: staging
  labels:
    app: backend-dashboard
    environment: staging
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: backend-dashboard
    environment: staging
